/caddy/frankenphp/frankenphp
/internal/testserver/testserver
/internal/testcli/testcli

# Ignore everything under dist by default
dist/*

# But keep the static-php-cli subtree
!dist/static-php-cli/
!dist/static-php-cli/config/
!dist/static-php-cli/config/source.json

.DS_Store
.idea/
.vscode/
__debug_bin
frankenphp.test
caddy/frankenphp/Build
package/etc/php.ini
*.log
